@model Project1.WebApp.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Login";
}



@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Simple Login Application</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>
                    @Html.LabelFor(a => a.FirstName)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.FirstName)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.LastName)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.LastName)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.LastName)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}
